In [1]:
import requests
import pandas as pd

In [2]:
def api_data_frame(lat,long):
    api_url4 = "https://api.openweathermap.org/data/2.5/forecast?lat={}&lon={}&appid=22ba7773328731b108fe5951ed3df034".format(lat,long)
    response1 = requests.get(api_url4)
    mm = response1.json()
    
    ##forecast data frame with three hours lag
    lst = []
    for i in mm['list']:
        frm1 = pd.DataFrame((i['main']).items(), columns=['Column', 'Value'])
        frm1['dates' ]= i['dt_txt']
        frm2 = frm1.pivot(index= 'dates', columns = "Column",values ="Value").reset_index()
        lst.append(frm2)


    fnl_frm = pd.concat(lst).rename_axis(None,axis=1).reset_index().drop('index',1)
    fnl_frm['dates'] = pd.to_datetime(fnl_frm['dates'])
    fnl_frm = fnl_frm.sort_values(['dates'])
    fnl_frm['Latitude'] = lat
    fnl_frm['Longitude'] = long
    return fnl_frm

In [3]:
api_data_frame("20.59" ,"78.96").head() ##india data: forecast

,dates,feels_like,grnd_level,humidity,pressure,sea_level,temp,temp_kf,temp_max,temp_min,Latitude,Longitude
0,2021-12-31 09:00:00,295.81,988.0,46.0,1019.0,1019.0,296.24,-3.37,299.61,296.24,20.59,78.96
1,2021-12-31 12:00:00,295.73,988.0,51.0,1018.0,1018.0,296.05,-0.74,296.79,296.05,20.59,78.96
2,2021-12-31 15:00:00,293.37,990.0,58.0,1019.0,1019.0,293.74,0.00,293.74,293.74,20.59,78.96
3,2021-12-31 18:00:00,291.32,990.0,61.0,1019.0,1019.0,291.81,0.00,291.81,291.81,20.59,78.96
4,2021-12-31 21:00:00,289.58,989.0,61.0,1018.0,1018.0,290.22,0.00,290.22,290.22,20.59,78.96

In [4]:
api_data_frame("55.37" ,"3.43").head() ##uk data: forecast

,dates,feels_like,grnd_level,humidity,pressure,sea_level,temp,temp_kf,temp_max,temp_min,Latitude,Longitude
0,2021-12-31 09:00:00,278.83,1005.0,96.0,1004.0,1004.0,282.93,0.43,282.93,282.50,55.37,3.43
1,2021-12-31 12:00:00,278.57,1006.0,93.0,1005.0,1005.0,282.94,0.10,282.94,282.84,55.37,3.43
2,2021-12-31 15:00:00,278.63,1009.0,92.0,1009.0,1009.0,282.85,0.00,282.85,282.85,55.37,3.43
3,2021-12-31 18:00:00,278.48,1011.0,93.0,1011.0,1011.0,282.32,0.00,282.32,282.32,55.37,3.43
4,2021-12-31 21:00:00,278.48,1014.0,92.0,1014.0,1014.0,282.37,0.00,282.37,282.37,55.37,3.43

In [5]:
api_data_frame("37.09" ,"95.71").head() ##usa data:forecast

,dates,feels_like,grnd_level,humidity,pressure,sea_level,temp,temp_kf,temp_max,temp_min,Latitude,Longitude
0,2021-12-31 09:00:00,266.51,732.0,25.0,1030.0,1030.0,268.60,-0.63,269.23,268.60,37.09,95.71
1,2021-12-31 12:00:00,262.07,731.0,29.0,1032.0,1032.0,266.65,0.81,266.65,265.84,37.09,95.71
2,2021-12-31 15:00:00,258.15,731.0,35.0,1034.0,1034.0,264.34,0.00,264.34,264.34,37.09,95.71
3,2021-12-31 18:00:00,257.09,730.0,34.0,1033.0,1033.0,263.49,0.00,263.49,263.49,37.09,95.71
4,2021-12-31 21:00:00,256.40,729.0,33.0,1032.0,1032.0,262.71,0.00,262.71,262.71,37.09,95.71